@font-face {
    /* font-family: 'RobotoMono'; */
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
  }

body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

input {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.output {
    border: 1px solid #222;
    padding: 30px 15px;
    background-color: #0006;
}